body{
    background: linear-gradient(0.25turn, #3f87a6, #8cbd68, #ca8a45);
}
h2{
    text-align: center;
    padding-top: 15px;
}
.container{
    margin:auto;
    width: 40%;
    height: 600px;
    margin-top: 70px;
    background-color: rgb(233, 236, 238) ;
    border-radius: 5%;
    border-color: 3px solid green;
   
}
.Card{
    text-align: center;
    margin-top: 20px;
    padding: 5px;
    
}



    table{
        font-family: Calibri; 
        color:black; 
        font-size: 11pt; 
        font-style: normal;
        font-weight: bold;
        border-collapse: collapse; 
        
      }
      table.inner{
        border: 0px
      }
td{
    text-align: left;
    font-size: 20px;
}




 

